@import '~style/common/variables.scss';

.paper-detail {
    .paper-title {
        height: 2rem;
        line-height: 2rem;
        margin: 15px 0 0;
        color: $colorTheme;
        font-weight: bold;
        font-size: 1.25em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .paper-subtitle {
        position: relative;
        height: 1.5rem;
        line-height: 1.5rem;
        margin: 10px 5px 5px;
        color: $colorGreyLight;
        font-size: 0.75em;

        .subtitle-date {
            width: 7rem;
            margin-right: 0.5rem;
        }

        .subtitle-tags {
            max-width: calc(100% - 7.5rem);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .paper-body {
        padding: 0 10px;
        margin: 15px 0;
        font-family: $fontYahei;

        h1, h2, h3, h4, h5, h6 {
            margin: 1rem 0 0.75rem;
            color: $colorGreyDark;
            font-size: 1.25em;
        }

        p {
            color: $colorGrey;
            line-height: 1.5rem;
            margin: 0 0 0.5rem;
            font-size: 0.8em;
            text-indent: 2em;
        }

        blockquote {
            margin: 0 0 0.25rem;
            color: $colorGrey;
        }

        img {
            display: block;
            width: 300px;
            max-width: 100%;
            padding: 0;
            margin: 0.5rem auto;

            &.tag {
                display: inline-block;
                margin: -3px 0 0 0;
                padding: 0;
                width: auto;
                height: 1.25rem;
            }
        }

        strong {
            font-size: 1.25em;
            font-weight: bolder;
        }

        pre {
            padding: 0.5rem;
            margin: 0.5rem 1em;
            border-radius: 5px;
            background-color: $colorBlackLight;

            code {
                padding: 0;
                margin: 0;
                color: $colorWhite;
                font-size: 0.75em;
                font-family: $fontConsola;
            }
        }
    }
    
    .edit-paper-link {
        position: fixed;
        width: 2rem;
        height: 2rem;
        right: 0;
        bottom: 0;
        text-align: center;
        opacity: 0.85;
        z-index: 9;

        .fa {
            display: block;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            font-size: 1.25rem;
            text-align: center;
        }
    }
}