@import '~style/common/variables.scss';

a {
    color: $colorTheme;

    &:hover {
        color: $colorThemeDark;
    }
}

.btn-primary {
    background-color: $colorTheme;
    border-color: $colorThemeDark;

    &:hover {
        background-color: $colorThemeDark;
        border-color: $colorThemeDark;
    }
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: $colorThemeDark;
    border-color: $colorThemeDark;
}

.popover {
    z-index: 999999;
}

code {
    padding: 0 5px;
    font-family: $fontConsola;
}