@import '~style/common/variables.scss';

@import '~style/components/common-navbar.scss';
@import '~style/components/common-login-modal.scss';
@import '~style/components/common-filter-count.scss';

@import '~style/components/paper-catalogue.scss';

.page-catalogue {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(0.5rem + 30px);
    height: calc(100% - 0.5rem - 30px);

    .page-section-body {
        max-width: 1200px;
        padding: 0.25rem;
        margin: 0 auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
}