@import '~style/common/variables.scss';

@import '~style/components/common-navbar.scss';
@import '~style/components/common-login-modal.scss';
@import '~style/components/common-filter-count.scss';

@import '~style/components/paper-detail.scss';
@import '~style/components/paper-reply.scss';

@import '~plugins/img-viewer/index.scss';

.page-paper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(0.5rem + 30px);
    height: calc(100% - 0.5rem - 30px);

    .page-section-body {
        max-width: 1200px;
        padding: 0.25rem;
        margin: 0 auto;
        height: 100%;
    }

    .paper-container {
        max-height: 100%;
        padding: 0;
        overflow-y: auto;
    }

    .paper-content {
        padding: 5px;
        border: 1px solid $colorGreyLighter;
        border-radius: 5px;
    }
}

@media (min-width: 768px) {
    .page-paper {
        .paper-container {
            padding: 5px 0 5px 5px;
        }
    }
}