@import '~style/common/variables.scss';

@import '~style/components/common-navbar.scss';

.page-profile {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: calc(0.5rem + 30px);
    height: calc(100% - 0.5rem - 30px);

    .page-section-body {
        max-width: 1200px;
        padding: 0.5rem 0.25rem 0.25rem;
        margin: 0 auto;
        max-height: 100%;
        overflow-y: auto;
    }

    .user-overview {
        height: 130px;
        padding: 0 5px 0 0;
        margin-bottom: 10px;

        .overview-wrap {
            height: 132px;
            padding: 10px 15px;
            border: 1px solid $colorGreyLighter;
            border-radius: 5px 0 0 0;
        }

        .avatar-wrap {
            position: relative;
            display: block;
            width: 85px;
            height: 85px;
            float: left;
        }

        .avatar {
            display: block;
            width: 85px;
            height: 85px;
            float: left;
            border-radius: 50%;
        }

        .edit-icon-container {
            position: absolute;
            width: 100%;
            height: 30px;
            line-height: 30px;
            padding: 0;
            margin: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.75);
            font-size: 1.25em;
            color: $colorTheme;
            text-align: center;
            cursor: pointer;
        }

        .name-wrap {
            display: block;
            margin-left: 90px;
        }

        .user-name {
            height: 40px;
            line-height: 40px;
            color: $colorTheme;
            font-weight: bold;
            font-size: 1.15em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .user-gender {
            display: block;
            height: 40px;
            line-height: 40px;
            padding-top: 3px;
            margin-right: 5px;
            font-weight: 900;
            color: $colorGreyLight;
            float: left;
        }

        .account-activated {
            height: 25px;
            line-height: 25px;
            margin-top: 5px;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 0.75em;
            overflow: hidden;
            font-style: italic;
        }

        .send-activate-mail-link {
            display: block;
            font-style: italic;
            cursor: pointer;

            &:hover {
                color: $colorTheme;
                text-decoration: none;
            }
        }

        .activated-tips.inactivated {
            color: $colorGreyLight;
        }

        .activated-tips.activated {
            color: $colorTheme;
        }

        .operate-wrap {
            height: 20px;
            line-height: 20px;
            margin-top: 5px;
            font-size: 0.75em;
        }

        .operate-link {
            display: inline-block;
            padding: 0;
            color: $colorTheme;
            cursor: pointer;
        }
    }

    .user-info {
        padding: 0 0 0 5px;
        margin-bottom: 10px;
        font-family: $fontConsola;

        .info-wrap {
            height: 132px;
            padding: 10px 15px;
            border: 1px solid $colorGreyLighter;
            border-radius: 0 5px 0 0;
        }

        .user-info-item:not(:last-of-type) {
            margin-bottom: 10px;
        }

        .user-info-item {
            height: 25px;
        }

        .user-info-title {
            width: 7.5rem;
            height: 25px;
            line-height: 25px;
            text-align: right;
            font-size: 0.75em;
            color: $colorGreyLight;
            float: left;

            &:after {
                content: ":";
            }
        }

        .user-info-content {
            height: 25px;
            line-height: 25px;
            margin-left: 7.75rem;
            font-size: 0.85em;
            color: $colorGrey;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .user-ad {
        padding: 0 5px 0 0;

        .ad-wrap {
            padding: 10px 15px;
            border: 1px solid $colorGreyLighter;
            border-radius: 0 0 0 5px;
        }
    }

    .user-comment {
        padding: 0 0 0 5px;

        .comment-wrap {
            padding: 10px 15px;
            border: 1px solid $colorGreyLighter;
            border-radius: 0 0 5px 0;
        }

        .comment-content {
            padding: 15px 0;
            font-size: 14px;
        }

        .comment-content.empty {
            font-family: $fontConsola,$fontYahei;
            color: $colorGreyLight;
            text-align: center;
        }

        .message-item {
            height: 1.75rem;
            line-height: 1.75rem;
        }

        .message-item.paper-reply:before {
            content: attr(data-no)". ";
            color: $colorGreyLight;
            display:block;
            width: 25px;
            float: left;
        }

        .message-item > a {
            display: inline-block;
            max-width: calc(100% - 25px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 1.75rem;
            line-height: 1.75rem;
        }
    }
}

#editInfoModal {
    .gender-radio-contaienr {
        padding-left: 1.25rem;

        .stan-radio {
            color: $colorTheme;

            .fa {
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: 767px) {
    .page-profile {
        .user-overview {
            padding: 0;

            .overview-wrap {
                border-radius: 5px 5px 0 0;
            }
        }

        .user-info {
            padding: 0;

            .info-wrap {
                border-radius: 0;
            }
        }

        .user-ad {
            padding: 0;
            margin-bottom: 10px;

            .ad-wrap {
                border-radius: 0;
            }
        }

        .user-comment {
            padding: 0;

            .comment-wrap {
                border-radius: 0 0 5px 5px;
            }
        }
    }
}